{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<p>
    Formation of the Group Placeholder
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakshield</h3>
        <p>Placeholder</p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/hobbit-trilogy/images/5/5e/Thorin.jpeg"
            alt="Thorin">
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/middle-earth-film-saga/images/d/dd/Fili.png" alt="">
        </div>
        <div class="col-md-7">
            <h2>Fili</h2>
            <p>
                Placeholder2
            </p>
        </div>
    </div>
</div>
{% endblock %}